<div class="m-12">
    <h1 class=" text-3xl text-zinc-800">This is the dashboard page<h1>
        <div class="mt-5">
            <h3 class="font-semibold text-sm">Hello Dashboard!</h3>
        </div>
</div>